@model Events.Web.Models.Eventattendee

@*@model IEnumerable<Events.Web.Models.Eventattendee>*@
@{
    ViewData["Title"] = "Index";
    var id = ViewBag.Eid;
    var iid = ViewBag.VBFriend.EventName;
    var edate = ViewBag.VBFriend.EventDate;
    var evenue = ViewBag.VBFriend.EventVenue;
    var estarttime = ViewBag.VBFriend.EventStartTime;
    var eendtime = ViewBag.VBFriend.EventEndTime;
    var eyear = ViewBag.VBFriend.EventYear;
    var ecreatedon = ViewBag.VBFriend.CreatedOn;
    var emodifiedon = ViewBag.VBFriend.ModifiedOn;
}

<html>
<link href="~/lib/select2.min.css" rel="stylesheet" />
<style>
    .leftside,.rightside{
        hight:50px;
        width:300px;
    }
    .box{
        hight:100px;
        width:800px;
        border:2px solid black;
        padding:10px;
    }
     .content{position: relative;}
    .overlay{position: absolute;left: 0; top: 0; right: 0; bottom: 0;z-index: 2;background-color: rgba(255,255,255,0.8);}
    .overlay-content {
        position: absolute;
        transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        color: #555;
    }
</style>
<div style="text-align:center;display:none" id="loaderDiv">

    <img  width="50px" src="~/lib/roblox-loading.gif" />
</div>

<body onload="functionToCall(@id)">
        <div class="card ">
            <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="leftside"> 
                        EventName : @ViewBag.VBFriend.EventName
                        <br />
                        EventDate : @ViewBag.VBFriend.EventDate
                        <br />
                        EventStartTime : @ViewBag.VBFriend.EventStartTime
                        <br />
                        EventEndTime : @ViewBag.VBFriend.EventEndTime
                    </div>
                </div>
                <div class="col-md-1">
                    <hr width="1" size="75" style="0 auto" />
                </div>
                <div class="col">
                    <div class="rightside">
                        EventVenue : @ViewBag.VBFriend.EventVenue
                    </div>
                </div>
            </div>
            </div>
        </div>


    <div id="Attendees"></div>
    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold mb-4">Attendees</h2>
            @Html.ActionLink("Back to List", "Index","Events")
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" id="create_attendee" onclick="create_attendee(@id);">Add Attendees</a>
        </div>
    </div>

    <div class="card shadow">

        <div class="card-body  table-responsive">
            <table id="Eventattendeestable" class="table">
                <thead>
                    <tr>
                        <th>Attendee Name</th>
                        <th>Contact No</th>
                        <th>Coupons Purchased</th>
                        <th>Purchased On</th>
                        <th>Payment Status</th>
                        <th>Mode Of Paymnet</th>
                        <th>Payment Refrence</th>                    
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

@section Scripts
    {
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Custom/jquery-extensions.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Eventattendees/index.js"></script>
}
