@model IEnumerable<Events.Web.Models.Eventcouponassignmentmapping>
@using Newtonsoft.Json
@{

    ViewData["Title"] = "Index";
    var id = ViewBag.Eid;
    var iid = ViewBag.VBFriend.EventName;
    var edate = ViewBag.VBFriend.EventDate;
    var evenue = ViewBag.VBFriend.EventVenue;
    var estarttime = ViewBag.VBFriend.EventStartTime;
    var eendtime = ViewBag.VBFriend.EventEndTime;
    var eyear = ViewBag.VBFriend.EventYear;
    var ecreatedon = ViewBag.VBFriend.CreatedOn;
    var emodifiedon = ViewBag.VBFriend.ModifiedOn;
    var eid = ViewBag.Ecamid;
}


<h1>Index</h1>
<html>
<style>
    .leftside, .rightside {
        hight: 50px;
        width: 300px;
    }

    .box {
        hight: 100px;
        width: 800px;
        border: 2px solid black;
        padding: 10px;
    }

    .button-31 {
        background-color: #222;
        border-radius: 4px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
        max-width: none;
        min-height: 44px;
        min-width: 10px;
        outline: none;
        overflow: hidden;
        padding: 9px 20px 8px;
        position: relative;
        text-align: center;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
    }

        .button-31:hover,
        .button-31:focus {
            opacity: .75;
        }

</style>
<body>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="leftside">
                        EventName : @ViewBag.VBFriend.EventName
                        <br />
                        EventDate : @ViewBag.VBFriend.EventDate
                        <br />
                        EventStartTime : @ViewBag.VBFriend.EventStartTime
                        <br />
                        EventEndTime : @ViewBag.VBFriend.EventEndTime
                    </div>
                </div>
                <div class="col-md-1">
                    <hr width="1" size="70" style="0 auto" />
                </div>
                <div class="col">
                    <div class="rightside">
                        EventVenue : @ViewBag.VBFriend.EventVenue
                    </div>
                </div>
            </div>
        </div>
    </div>




        
    <div id="Cassign"></div>
    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold mb-4">Coupon</h2>
            @Html.ActionLink("Back to List", "Index","Events")
      
        </div>

    </div>

    <div class="row">
        <div style="width:40%">
            <select class="form-control" style="width:100%" id="mySelect" asp-items="ViewBag.Eventcoupontypes">
                <option disabled selected>Select Coupon</option>
            </select>
        </div>
        <div style="width:40%">
            <select id="DDL" class="selectmultiplemember form-control form-select-sm " asp-items="ViewBag.Executivememberss">
                <option disabled selected>Select Member</option>
            </select>
        </div>
        <div style="width:20%">
            <button onclick="dropdownval()" style="width:100%" class="btn btn-primary">save</button>
            </div>
    </div>

        <div class="card shadow">

        <div class="card-body">
            <table id="Cassignmentmappingtable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Coupon Number</th>
                        <th>Executive Member</th>
                        <th>Attende Name</th>
                        <th>Booked?</th>
                        <th>Action</th>
                        <th>Check</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<script>

    var memberslist = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(ViewBag.Executivemembers))');
</script>
@section Scripts
    {
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Custom/jquery-extensions.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/scripts/eventcouponassignmentmapping/index.js"></script>

}

