@model Events.Web.Models.User


<div class="modal fade" id="DetailsECMemberModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User</h5>
            </div>
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Designation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Designation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AppointedOn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AppointedOn)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Duties)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Duties)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Active)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Active)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>